<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chandigarhadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chandigarhadmin.ui.MainActivity"
            android:screenOrientation="portrait"
              android:theme="@style/AppTheme" />


        <activity android:name=".ui.LanguageSelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chandigarhadmin.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.chandigarhadmin.ui.AdminAgentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".ui.ViewTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AllTicketsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receviers.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MyAccountActivity"
            android:screenOrientation="portrait" />


          <activity
            android:name=".ui.ConfirmOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c2f3bf8c46f6a43263181915aafc849dc36ce589" />
    </application>

</manifest>